table.need-status-table {
  td {
    width: 25%;
    &.no-padding {
      padding: 0 !important;
    }
  }
  table {
    margin: 0;
    border: 0;
    td {
      width: 33.3333%;
    }
    tr:first-child td {
      border-top: 0;
    }
  }
}
table.needs-table {
  // border-top: 1px solid #DDD;
  border-left: 0;
  border-right: 0;
  td.status-td {
    width: 10%;
  }
}
