.admin-container {
  margin: 20px auto;
}
.admin-sidebar {
  width: 22%;
}
.admin-main {
  width: 75%;
}
.admin-title {
  font-size: 20px;
  float: left;
}
.admin-title-btn {
  float: right;
}
.admin-header {
  padding: 12px 10px;
  border-bottom: 1px solid #DDD;
  h4 {
    margin: 6px 0;
  }
}
table.admin-table {
  margin-bottom: 0;
  tr {
    &:last-child {
      border-bottom: 1px solid #DDD;
    }
    td {
      padding: 10px 12px !important;
    }
    .avatar-td {
      width: 15%;
      .avatar {
        img {
          width: 100%;
          border-radius: 100px;
        }
      }
    }
    .info-td {
      font-size: 13px;
      color: #666;
      .tag {
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .edit-td {
      width: 15%;
    }
  }
}
