// Place all the styles related to the help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.help-text {
  line-height: 26px;
  text-indent: 28px;
  margin-bottom: 20px;
}
.sign {
  float: right;
}
