$color: #337ab7;

.side_contact {
  position: fixed;
  right: 0;
  bottom: 35%;
  width: 120px;
  font-size: 14px;
  text-align: center;
  .block {
    background: #FFF;
    border: 1px solid $color;
    border-right: 0;
    margin-bottom: 10px;
    a {
      display: block;
      font-size: 14px;
      width: 100%;
      color: #337ab7;
      border-top: 1px solid $color;
      height: 42px;
      line-height: 42px;
      cursor: pointer;
      &:hover {
        background: $color;
        color: white;
      }
      &:first-child {
        border-top: 0;
      }
    }
    span {
      display: block;
    }
  }
}
