.side_contact {
  position: fixed;
  right: 0;
  bottom: 35%;
  width: 75px;
  font-size: 14px;
  text-align: center;
  .block {
    background: #FFF;
    border: 1px solid #8e9ca9;
    border-right: 0;
    margin-bottom: 10px;
    a {
      display: block;
      width: 100%;
      color: #8e9ca9;
      border-top: 1px solid #8e9ca9;
      height: 44px;
      line-height: 44px;
      cursor: pointer;
      &:hover {
        background: #8e9ca9;
        color: white;
      }
      &:first-child {
        border-top: 0;
      }
    }
    span {
      display: block;
    }
  }
}
