.users-list {
  margin: 20px auto;
}
.user-avatar-link {
  display: inline-block;
  border: 1px solid #EEE;
  padding: 1px;
  border-radius: 100%;  
  img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
.user-block, .show-user-top {
  margin-top: 10px;
  height: 350px;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  // background: #fff;
  width: 24%;
  text-align: center;
  font-size: 12px;
  position: relative;
  box-shadow: 3px 3px 10px #eee;
  .avatar {
    padding: 26px 0 14px 0;
  }
  .name a {
    color: #333;
    font-weight: 500;
    padding: 0 15px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
      color: #3c8cf0;
    }
  }
  .pitch {
    color: #374052;
    padding: 4px 10px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .caption {
    position: relative;
    display: inline-block;
    &:after {
      content: " ";
      display: block;
      height: 1px;
      width: 100%;
      display: block;
      background: #eaedf5;
      position: absolute;
      bottom: 50%;
    }
    span {
      padding: 0 5px;
      margin: 0 10px;
      background: #fff;
      position: relative;
      z-index: 5;
      color: #888da3; 
    }
  }
  .tags, .license-no {
    margin-top: 20px;
  }
}
.container.show-user {
  margin: 20px auto;
  .show-user-top {
    width: 100%;
    height: auto;
    margin: auto 0;
    padding-bottom: 26px;
    margin-bottom: 20px;
    .pitch {
      margin-bottom: 5px;
    }
  }
  .show-user-desc {
    width: 69%;
    // float: left;
    margin-right: 1%;
    p {
      line-height: 24px;
      text-indent: 26px;
    }
    font-size: 13px;
  }
  .user-sidebar {
    // float: right;
    width: 29%;
  }
  .show-user-sidebar, .show-user-desc {
    // background: #fff;
    position: relative;
    // box-shadow: 3px 3px 10px #eee;
    // padding: 20px 15px;
    margin-bottom: 20px;
    .show-user-title {
      color: #333;
      border-left: 3px solid rgba(82, 138, 233, 0.85);
      padding-left: 6px;
    }
    .content {
      margin-bottom: 30px;
    }
  }
  .show-user-sidebar {
    // width: 30%;
    margin-bottom: 20px;
    .show-case-title {
      border-bottom: 1px solid #EEE;
      padding-bottom: 10px;
    }
    .small-user-block {
      margin: 20px 0;
      .avatar {
        margin-right: 10px;
        width: 21%;
        img {
          width: 60px;
          height: 60px;
        }
      }
      .info {
        width: 75%;
        .name a {
          font-size: 16px;
          color: #333;
        }
      }
    }
  }
}
.dashboard-sidebar {
  width: 29%;
}
.dashboard-main {
  width: 70%;
}
.avatar-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #DDD;
}
