javascript:
  $(function(){
    $('select.select2').select2({
      theme: "bootstrap"
    });
    $(".select2-ajax").each(function(){
      var that = this;
      $(that).select2({
        multiple: true,
        theme: "bootstrap", 
        ajax: {
          url: $(that).data('url'), 
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term, // search term
              id: params.id, 
              name: params.name
            };
          },
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used

            return {
              results: data
            };
          },
          cache: true
        },
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 1
      });
      $(that).find('option').filter(function(){ return $(this).text().length > 0 }).attr('selected', 'selected');
      $(that).trigger('change');
    })
  })
