- flash.each do |key, value|
  .flash-container.text-center#flash_message
    = content_tag :div, value, class: "flash #{key}"

javascript:
  $(function(){
    setTimeout(function(){
      $('#flash_message').fadeOut();
    }, 2000)
  })
